.footer {
  // background-image: url('/img/image52.svg');
  position: relative;
  padding: 0;
  // background-repeat: no-repeat;
  background-color: white ;
  overflow: hidden;
  margin-right: 0px;
  .container {
    position: relative;
    padding-top: 50px;
    padding-bottom: 38px;
    // background-color:  rgba(0, 255, 255, 0);
    @include mobile {
      padding-top: 47px;
      padding-bottom: 44px;
    }

    .shape {
      position: absolute;
      bottom: 0;
      left: -533px;

      @include mobile {
        display: none;
      }
    }

    // .footer-background {
    //   position: absolute;
    //   top: 0px;
    //   right: 0px;
    //   left: 0px;
    //   // height: 338px;
    //   user-select: none;

    //   @include mobile {
    //     zoom: .8;
    //     top: 15px;
    //     right: -55px;
    //   }
    // }

    .row {
      z-index: 2;
      position: relative;
    }
  }

  &__logo-ctr { margin-top: -3px; }

  &__logo-tagline { font-family: $roboto; font-weight: 1000; margin-left: 11px; color: $primary-black}

  &__logo {
    display: block;
    margin: 5px 0 0 0;
    max-width: none;
    width: 160px;
    height: auto;
  }

  &__title {
    margin-bottom: 14px;
    line-height: 1.25;
    font-size: 14.5px;
    font-weight: 600;
    color: $primary-black;

    @include tablet-mobile {
      margin-bottom: 22px;
    }
  }

  &__links {
    margin-bottom: 0;

    @include tablet-mobile {
      margin-top: 45px;
    }
  }

  &__col {
    margin-bottom: 0 !important;

    @include tablet {
      --ifm-col-width: 33.33% !important;
    }

    @include mobile {
      --ifm-col-width: 50% !important;
    }
  }

  &__items {
    list-style: none;
    padding-left: 0;
    @include desktop {
      max-width: 168px;
    }
  }

  &__item {
    list-style-type: none;
    &:not(:first-child) {
      margin-top: 3px;

      @include tablet-mobile {
        margin-top: 15px;
      }
    }
  }

  &__link-item {
    text-decoration: none;
    line-height: 1.1;
    font-size: 14.5px;
    color: $primary-black;
    transition: color .2s ease-in-out;

    &:hover {
      color: $primary-black;
    }
  }

  &__copyright {
    z-index: 2;
    position: relative;
    margin-top: 36px;
    text-align: center;
    line-height: 1.25;
    font-size: 12px;
    color: $grey;

    @include tablet-mobile {
      margin-top: 42px;
    }
  }
}

html[data-theme="dark"] {
  .footer {
    background-color: $primary-black;

    &__link-item {
      color: $white; 
      
      &:hover {
        color: $white;
      }
    }
    &__logo-tagline {
      color: $white;
    }

    &__title {
      color: $white;
    }
  }
}