a.card {
    text-decoration: none !important;
    color: var(--ifm-color-content);
    box-shadow: none;
    border: 1px solid #333;
    display: flex;
    /* background-color: var(--ifm-background-color); */
}

a.card .card__body {
flex: 1;
flex-grow: 1;
}

a.card:hover {
transition: all 0.2s ease;
border: 1px solid var(--ifm-color-primary);
box-shadow: var(--custom-shadow-xl), 0 0 0 1px var(--ifm-color-primary) !important;
}