.markdown {
  @apply mb-10 dark:text-white-80 text-black-80;
}

.markdown * {
  @apply font-inter !important;
}

.markdown > h1,
.markdown > h2,
.markdown > h3,
.markdown > h4,
.markdown > h5,
.markdown > h6 {
  @apply font-bold;
  line-height: 140%;
  letter-spacing: 0.01em;
}

.markdown > h1 {
  @apply text-4xl;
}

.markdown > h2 {
  @apply text-3xl;
}

.markdown > h3 {
  @apply text-2xl;
}

.markdown > h4 {
  @apply text-xl;
}

.markdown > h5 {
  @apply text-lg;
}

.markdown > h6 {
  @apply text-base;
}

.markdown > p,
.markdown > ul {
  @apply text-base leading-6;
  letter-spacing: 0.015em;
}

pre {
  @apply text-sm font-roboto;
}
