.markdown {
  @apply mb-10 dark:text-white-80 text-black-80;
}

.markdown > h1,
.markdown > h2,
.markdown > h3,
.markdown > h4,
.markdown > h5,
.markdown > h6 {
  @apply font-bold font-inter !important;
  line-height: 140%;
  letter-spacing: 0.01em;
}

.markdown > h1 {
  @apply text-4xl font-inter !important;
}

.markdown > h2 {
  @apply text-3xl font-inter !important;
}

.markdown > h3 {
  @apply text-2xl font-inter !important;
}

.markdown > h4 {
  @apply text-xl font-inter !important;
}

.markdown > h5 {
  @apply text-lg font-inter !important;
}

.markdown > h6 {
  @apply text-base font-inter !important;
}

.markdown > p,
.markdown > ul {
  @apply text-base leading-6 font-inter !important;
  letter-spacing: 0.015em;
}

.markdown pre {
  @apply text-sm font-roboto !important;
}

.markdown code {
  @apply text-sm font-roboto !important;
}

.markdown .language-bash {
  overflow: auto;
}

.markdown .language-bash code {
  white-space: pre-wrap;
}
