:root {
  --ifm-menu-color: rgba(0, 0, 0, 0.5);
  --ifm-menu-color-active: rgba(0, 0, 0, 0.8);
}

[data-theme='dark'] {
  --ifm-menu-color: rgba(255, 255, 255, 0.5);
  --ifm-menu-color-active: rgba(255, 255, 255, 0.8);
}

.menu {
  @apply font-inter text-sm;
}

.menu__link--active {
  @apply font-semibold;
}

.menu__caret::before,
.menu__link--sublist-caret::after {
  background: url(/img/icons/chevron.svg);
  opacity: 0.5;
  transition: none;
}

/* prevents animations when opening and closing sidebar menus */
.menu__list-item {
  transition: none !important;
  height: auto !important;
}
.menu__list-item:not(.menu__list-item--collapsed) .menu__list {
  height: auto !important;
}
.menu__list-item.menu__list-item--collapsed .menu__list {
  height: 0px !important;
}
